/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: solid 1px rgb(187, 89, 226);
  margin-top: 20px;
  top: 10px;
  height: 120px;
  background-color: rgb(42, 42, 43);
  color: rgb(246, 246, 239);
  border-radius: 10px;
  position: fixed;
  /* left: 0; */
  z-index: 1;
  width: 90%;
  /* padding: 0 50px; */
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.title {
  text-align: center;
  align-items: center;
  font-size: 70px;
}
.img {
  margin-left: 20px;
}
.icon-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: rgb(14, 14, 13);
  background-color: rgb(246, 246, 239);
  border-radius: 6px;
  height: 40px;
  width: 50px;
}
.nombre {
  font-size: 1.2rem;
}
.card_singles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 350px;
  width: 400px;
  border: solid 1px black;
  align-items: center;
}
.cointainername {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.img-album {
  height: 80px;
  width: 100px;
}
.lista {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 120px;
}
.nombre {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.factura {
  margin: auto;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.factura_detalle {
  padding: 10px 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: rgb(14, 17, 19);
  background-color: rgb(255, 255, 247);
  border: solid 1px black;
}

.factura_show {
  opacity: 1;
  pointer-events: unset;
}

tr,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
  color: rgb(10, 10, 10);
}
th {
  background-color: rgba(15, 14, 14, 0.144);
  height: 70px;
}
.item_container {
  border-collapse: collapse;
  width: 85%;
  color: black;
  padding: 5px 10px;
}
td,
tr {
  background-color: white;
  text-align: center;
}
#close {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-color: white;
}
.table {
  width: 100%;
}

.trash {
  align-items: center;
}
.cardButton {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 375px) {
  .Header {
    font-size: 10px;
  }
  .title {
    font-size: 30px;
  }
  .img {
    margin-top: 20px;
    width: 80px;
    height: 80px;
  }
  .card_singles {
    height: 330px;
    width: 300px;
  }
  .lista {
    align-items: center;
    padding: 0;
  }
  .factura_detalle {
    width: 70%;
  }
}
